---
layout: default
permalink: internlist
---


    <!-- TODO factor out the swiping background and frosted overlay from the_idea so that these aren't dependent on each other -->
  <section id="the_idea" class="section">
    <div class="container">
      <div class="row">
        <div id="idea_core" class="col-sm-8 frosted-overlay">
          <h1 class="h1">Top Business Internships at Tech Companies</h1>


          <p>
              Please note that for some of these jobs, the application hasn’t opened yet. I tried to include the best link possible of where to go about finding the internship job listing once it is posted, like the link from last year. I included my comments, advice, and insights but these are purely subjective.
          </p>
          <p>
              - Adi
          </p>

          <!-- <p><strong>Interested in a non-developer job at a tech company? <a href="https://www.amazon.com/dp/B0756MTX6K/">Swipe to Unlock</a> was co-authored by a recipient of a fulltime Google APMM offer, Google RPM offer, and Microsoft PMM offer. <a href="https://www.amazon.com/dp/B0756MTX6K/">The book</a> offers valuable tech insights and concept overviews that will be extremely relevant for the Google APMM interview.</strong></p>

          <div class="embed-responsive embed-responsive-16by9">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/KqCcDS63hZE" frameborder="0" allowfullscreen></iframe>
            </div>
            <br/> -->

            <hr />

            {% for company in site.data.internlist %}
                <h2 class="text-info">{{ company.company }}</h2>

                {% for job in company.jobs %}
                    <h3>{{ job.role }}</h3>

                    <p>
                        {{ job.description }}
                    </p>


                    {% if job.comments %}
                        <p>
                            <em>My comments: {{ job.comments }}</em>
                        </p>
                    {% endif %}

                    <a href="{{ job.url }}" target="_blank" class="btn btn-default">
                        Learn more
                    </a>
                    <!-- <a href="https://www.amazon.com/dp/B0756MTX6K/" class="btn btn-default">
                        Buy <em>Swipe to Unlock</em> to prepare
                    </a> -->
                {% endfor %}
            {% endfor %}

            <hr />

            <p style="font-size: 1.35em; line-height: 1.5em;">
                Okay, so now you know where to apply. Now, how do you ace your interview and get an offer? It definitely helps if you understand how technology works at a high level and the business strategy behind it.
            </p>
            <br/>
            <div class="text-center">
            	<a href="https://www.amazon.com/gp/product/B0756MTX6K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0756MTX6K&linkCode=as2&tag=swipetounlock-20&linkId=0788862628123a7609141c7b2c4ae733/" target="_blank" class="btn btn-default btn-lg">Learn more</a>
            </div>
         	<br/>

            <p style="font-size: 1.35em; line-height: 1.5em;">
                <strong>Check out the video trailer for my new book, <i>Swipe to Unlock</i>. It contains the key tech and business insights me and my co-authors needed to get offers from Facebook, Google, Microsoft, Amazon, IBM, and more. </strong>
            </p>
        </div>
      </div>
    </div>
  </section>

  <section>
      {% include trailer.html %}
      {% include amazon_button.html %}
  </section>
