---
layout: default
---


    <!-- TODO factor out the swiping background and frosted overlay from the_idea so that these aren't dependent on each other -->
  <section id="the_idea" class="section">
    <div class="container">
      <div class="row">
        <div id="idea_core" class="col-sm-8 frosted-overlay">
          <h1 class="h1">Job list</h1>

          <p><strong>Interested in a non-developer job at a tech company? <a href="https://www.amazon.com/dp/B0756MTX6K/">Swipe to Unlock</a> was co-authored by a recipient of a fulltime Google APMM offer, Google RPM offer, and Microsoft PMM offer. <a href="https://www.amazon.com/dp/B0756MTX6K/">The book</a> offers valuable tech insights and concept overviews that will be extremely relevant for the Google APMM interview.</strong></p>

          <div class="embed-responsive embed-responsive-16by9">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/KqCcDS63hZE" frameborder="0" allowfullscreen></iframe>
            </div>
            <br/>

            {% for company in site.data.jobs %}
                <h2 class="text-info">{{ company.company }}</h2>

                {% for job in company.jobs %}
                    <h3>{{ job.role }}</h3>

                    <p>
                        {{ job.description }}
                    </p>


                    {% if job.comments %}
                        <p>
                            <em>Parth's comments: {{ job.comments }}</em>
                        </p>
                    {% endif %}

                    <a href="{{ job.url }}" class="btn btn-primary">Apply</a>
                    <a href="https://www.amazon.com/dp/B0756MTX6K/" class="btn btn-default">
                        Buy <em>Swipe to Unlock</em> to prepare
                    </a>
                {% endfor %}
            {% endfor %}


          <p><strong>More details about the APMM Program can be found below:</strong></p>

          <p><strong><a href="https://careers.google.com/jobs#!t=jo&jid=/google/associate-product-marketing-manager-1600-amphitheatre-pkwy-mountain-view-ca-2783150099&">Associate Product Marketing Manager Program (APMM)</a>, Google</strong></p>
          <p><strong><a href="https://careers.google.com/jobs#t=sq&q=j&li=20&l=false&jlo=en-US&jc=MARKETING&">Marketing & Communications</a></strong></p>
          <p><strong><a href="https://www.google.com/maps/place/1600+Amphitheatre+Pkwy,+Mountain+View,+CA,+USA/@37.423177,-122.0829223,15z">Mountain View, CA, USA</a></strong></p>

          <p><h3>Who should apply to the APMM program?</h3></p>
          <p>APMMs are a diverse group of self-starters with backgrounds ranging from biology to sociology. They are people who think both analytically and creatively, coming up with crazy world-changing ideas and executing on them. We consider graduating seniors, as well as folks who have been in industry a few years.</p>

          <p><h3>How do I apply?</h3></p>
          <p>We take applications at different points throughout the year, depending on region. You can apply to any country where you speak the business language of that office and have work authorization in that office. Check out the careers site to see what’s currently available.</p>
          <p>Outside of the US, we hire as business need arises.</p>
          <p>In the US, please refer to university recruiting if you are currently an undergraduate for internships and full-time positions; look out for communications on your campus in the fall prior to when you will graduate / intern (e.g., for summer/fall 2017 opportunities, look out in the fall of 2016).</p>
          <p>For those with full-time work experience, please check out the careers site for available APMM roles in the US. The majority of roles will be based in the Bay Area, with occasional roles offered in New York. We will be hiring for the remainder of 2017 based on business need.</p>

          <p><h3>What is the scope of the program?</h3></p>
          <p>We accept 70-100 APMMs across 29 offices in 24 countries. APMMs complete a two-year program. The first rotation is assigned based on our business needs at the time and lasts approx. 18 months; the second is based on the associate’s interest in location, role, and product area. Many APMMs graduate from the program and stay in their second rotation, while others find another new role.</p>

          <p><h3>What kinds of training opportunities are available within the program?</h3></p>
          <p>APMMs receive extensive on-the-job training with access to all Google resources, as well as learning and development opportunities tailored for program participants, from an online learning portal to experiential learning opportunities to a global trip to immerse themselves in new markets.</p>

          <p><h3>What happens at the end of the program?</h3></p>
          <p>After two years, APMMs have the opportunity to either remain in their second role, or transfer to another team within the Marketing organization. Many APMMs go on to run larger teams as Product Marketing Managers, others leave Google to continue their studies, and some even go on to start their own companies.</p>

          <p><h3>What makes a successful APMM?</h3></p>
          <p>Demonstrated analytical aptitude and creative intuition. Passion for technology and digital Marketing, and entrepreneurial spirit. Proven leadership skills and proactive approach to problem-solving. Global outlook and wide range of interests.</p>
          <p>Whether you're on a consumer product (like Gmail, Search, Maps, Chrome, Android) or a business product (AdWords, AdSense, DoubleClick, Analytics), you take part in a complete marketing experience as you lead every facet of the product's journey. From determining positioning, naming, competitive analysis, feature prioritization and external communications, you help shape the voice of the product and help it grow a loyal consumer base. This means you work with a cross-functional team across sales, corporate communications, legal, webmasters, product development, engineering and more. In this role, you'll be involved with product marketing strategy from beginning to end.</p>
          <p>As an Associate Product Marketing Manager (APMM), you will be part of the APMM Program, Google’s global, renowned early-career program, which was started in 2003. As the start of your career in Marketing at Google, the APMM Program provides the skills you will need to become a world-class digital Marketer. Benefits of the program include: Rigorous learning and development, international trip to learn more about our business in global markets, two rotations (first is 18 months and second is 12 months in duration) to gain exposure to different products, Marketing functions, and/or global locations, extensive opportunities for networking across Marketing with APMM peers and alumni, and mentoring from senior leaders. You can find more information about the APMM program on the Google job site at this <a href="https://www.google.com/about/careers/students/apmm.html">link</a>.</p>
          <p>Know the user. Know the magic. Connect the two. At its core, marketing at Google starts with technology and ends with the user, bringing both together in unconventional ways. Our job is to demonstrate how Google's products solve the world's problems--from the everyday to the epic, from the mundane to the monumental. And we approach marketing in a way that only Google can--changing the game, redefining the medium, making the user the priority, and ultimately, letting the technology speak for itself.</p>

          <p><h3>Responsibilities</h3></p>
          <ul>
            <li>Define and execute go-to-market strategies and organizational coordination for new feature launches. This includes positioning, naming, external communications, competitive analysis, and feature prioritization.</li>
            <li>Develop messaging, collateral, events, and business strategies aimed at acquiring advertisers and publishers, increasing our engagement with them and measuring the efficacy of such programs.</li>
            <li>Use quantitative methods, models and research to help Google better understand consumer and advertiser behavior to provide important feedback back into the product and strategic development cycle.</li>
            <li>Determine return on investment (ROI) for projects.</li>
          </ul>

          <p><h3>Qualifications</h3></p>
          <p>Minimum qualifications:</p>
          <ul>
            <li>BA/BS degree or equivalent practical experience.</li>
            <li>Experience in tech marketing, brand management, strategy consulting, agency, or related fields.</li>
            <li>Have authorization to work in the United States.</li>
          </ul>

          <p>Preferred qualifications:</p>
          <ul>
            <li>Demonstrated analytical success, capacity for developing and understanding strategy.</li>
            <li>Penchant for technology, creativity to "think outside the box" and leadership to execute effectively.</li>
            <li>Deep understanding of Google's products and technology industry.</li>
            <li>Demonstrated innovation and creative problem-solving abilities.</li>
            <li>Global mindset and ability to think across disciplines, industries, cultures and scenarios.</li>
            <li>Outstanding written and oral communication skills.</li>
          </ul>

          <p><h3>What skills are necessary to be an APMM at Google?</h3></p>
          <p>A required skill set totally depends on which team you’re on as an Associate Product Marketing Manager. For example, the folks on the B2B Marketing teams (such as AdWords) were often required to be pretty good with numbers and analytical thinking. The people on the Consumer Marketing side (like me) were required to be out-of-the-box, creative thinkers. There’s also the internal operations team on Marketing, whose APMMs are mainly made up of former consultants and bankers.</p>
          <p>No matter what team you’re on, skills that are necessary for all APMMs are: knowledge about Google, scrappiness, ability to think out of the box, and (not sure if this is a skill) curiosity. Finally, every single APMM must absolutely love Google, since our job is often to try and get others to love Google.</p>
          <p><a href="https://www.wayup.com/guide/community/job-skills-youll-need-at-google-apmm/">Source</a>: Liz worked at Google for two years as an Associate Product Marketing Manager (APMM), then got promoted to Product Marketing Manager (PMM). Her first year was on the Google Search App, then the Brand and Partnerships team in Mountain View, and her second year was leading Brand in India.</p>


        </div>
      </div>
    </div>
  </section>
