---
layout: default
title: PM and Tech Business Job List
permalink: masterjoblist
---

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h1 class="h1">Neel, Parth, and Adi's List of Product and Business Roles at Tech Companies</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
         <!-- We're duplicating the company list so it shows on the left on
             large screens and immediately in the flow on small screens -->
        <div class="list-group hidden-xs hidden-sm visible-md visible-lg">
          {% for company in site.data.masterjoblist_companies %}
          <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company | replace: " ","" }}">
                {{ company }}
              </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">

        <p>
            We've seen over half a dozen lists of <strong>the top entry-level PM and
            non-technical business roles at tech companies</strong>,
            so we decided to combine them all into one
            master list.
        </p>
        <p>
            In this list, we've compiled 50+ jobs from over a dozen top companies,
            with a focus on rotational and new grad positions.
            Instead of providing direct application links (which change every year),
            we'll point you to the landing page, where you can always read more
            about the role and find the latest posting. <strong>Just note that not all positions
            are always available.</strong>
        </p>

        <p>
            If you know any good jobs that aren't on our list, let us know at
            team [at] swipetounlock [dot] com.
        </p>

        <p>
        &mdash;
            <a href="https://linkedin.com/in/neelmehta18">Neel</a>,
            <a href="https://linkedin.com/in/parthdetroja">Parth</a>, and
            <a href="https://linkedin.com/in/adityaagashe">Adi</a>
        </p>

        <hr>

        <!-- We're duplicating the company list so it shows on the left on
             large screens and immediately in the flow on small screens -->
        <div class="list-group visible-xs visible-sm hidden-md hidden-lg">
          {% for company in site.data.masterjoblist_companies %}
            <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company | replace: " ","" }}">
                {{ company }}
            </a>
          {% endfor %}
        </div>

        <hr>

        <!-- OK, now loop over every company and show the jobs
             available at each -->
        {% for company in site.data.masterjoblist_companies %}
            <div id='{{ company | replace: " ", "" }}' class="company-block">
                <h2 class="text-info">
                    {{ company }}
                </h2>

                <!-- Now find all jobs that belong to that company -->
                {% for job in site.data.masterjoblist %}
                    {% if job.company == company %}
                        {%- capture id -%}
                            {{ job.company | replace: " ", ""}}_{{ job.role | replace: " ", ""}}
                        {%- endcapture -%}

                        <!-- the anchor hyperlinks ignore the header atop the page,
                             which makes the h3 normally get hidden behind the header
                             when the user opens the link. instead if we put the actual
                             anchored element a bit above the h3, that fake element
                             gets hidden and the h3 can be seen normally. hence the
                             empty span. -->
                        <span id='{{ id }}'></span>
                        <br><br>
                        <h3>
                            <span class="text-info">{{ job.company }}</span>
                            {{ job.role }}

                            &nbsp;
                            <a href="#{{ id }}">
                                <i class="fas fa-link fa-sm"></i>
                            </a>
                        </h3>

                        <p><strong>
                            {%- capture icon -%}
                                {% if job.type == "PM" %} fa-rocket
                                {% elsif job.type == "Marketing" %} fa-bullhorn
                                {% elsif job.type == "Strategy" %} fa-chess-knight
                                {% elsif job.type == "Sales" %} fa-store-alt
                                {% elsif job.type == "Finance" %} fa-money-bill-wave
                                {% elsif job.type == "Management" %} fa-users
                                {% elsif job.type == "Mixed" %} fa-blender
                                {% elsif job.type == "Supply Chain" %} fa-shipping-fast
                                {% elsif job.type == "Consulting" %} fa-plane
                                {% else %} fa-suitcase
                                {% endif %}
                            {%- endcapture -%}

                            <i class="fas {{ icon }}"></i> {{ job.type }},&nbsp;


                            {% if job.technical == 1 %}
                                <i class="fas fa-code"></i> Technical
                            {% else %}
                                <span class="fa-stack">
                                    <i class="fas fa-code fa-stack-1x"></i>
                                    <i class="fas fa-ban fa-stack-2x"></i>
                                </span>
                                Non-technical
                            {% endif %},&nbsp;

                            {% if job.rotational == 1 %}
                                <i class="fas fa-sync-alt"></i> Rotational
                                {% if job.length_months != "" %}
                                    ({{ job.length_months }} months)
                                {% endif %}
                            {% else %}
                               <i class="fas fa-angle-double-right"></i>
                                Not rotational
                            {% endif %}
                        </strong></p>


                        <p>
                            {% if job.description != "" %}
                                {{ job.description }}
                            {% endif %}
                        </p>

                        <a href="{{ job.website }}" target="_blank" class="btn btn-primary">
                            Learn more
                        </a>
                        {% if job.comments != "" %}
                            <em>({{ job.comments }})</em>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
        {% endfor %}

      </div>
    </div>
  </div>
</section>
