---
layout: default
title: PM and Business Tech Job List
permalink: masterjoblist

scripts:
  - assets/js/masterjoblist.js

# Other pages already point to this, so the below is only for novel URLs
redirect_from:
  - masterjobs
  - jobs
  - job
  - joblists
---

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h1 class="h1">Neel, Parth, and Adi's List of Product and Business Roles at Tech Companies</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
         <!-- We're duplicating the company list so it shows on the left on
             large screens and immediately in the flow on small screens -->
        <div class="list-group hidden-xs hidden-sm visible-md visible-lg">
          {% for company in site.data.masterjoblist_companies %}
          <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company | replace: " ","" }}">
                {{ company }}
              </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">

        <p>
            We've seen over half a dozen lists of <strong>the top entry-level PM and
            non-technical business roles at tech companies</strong>,
            so we decided to combine them all into one
            master list.
        </p>
        <p>
            In this list, we've compiled 50+ jobs from over a dozen top companies,
            with a focus on rotational and new grad positions.
            Instead of providing direct application links (which change every year),
            we'll point you to the landing page, where you can always read more
            about the role and find the latest posting. <strong>Note that not all positions
            are always available.</strong>
        </p>

        <p>
            If you know any good jobs that aren't on our list, let us know at
            team [at] swipetounlock [dot] com.
        </p>

        <p>
            We hope this list is useful!
            <strong>Check out our bestselling book
            <a href="https://www.amazon.com/gp/product/B0756MTX6K/">
            <em>Swipe to Unlock</em></a> to learn the tech and business strategy
            concepts you'll need to know to crush the interviews.</strong>
        </p>

        <p>
        &mdash;
            <a href="https://linkedin.com/in/neelmehta18">Neel</a>,
            <a href="https://linkedin.com/in/parthdetroja">Parth</a>, and
            <a href="https://linkedin.com/in/adityaagashe">Adi</a>
        </p>



        <!-- We're duplicating the company list so it shows on the left on
             large screens and immediately in the flow on small screens -->
        <div class="list-group visible-xs visible-sm hidden-md hidden-lg">
          {% for company in site.data.masterjoblist_companies %}
            <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company | replace: " ","" }}">
                {{ company }}
            </a>
          {% endfor %}
        </div>

        <hr>

        <!-- Filter widget -->
        <section id="filter-widget">
          <div class="well">
            <div class="form-group">
              <label for="job-type-select">
                Filter by job type
              </label>
              <select class="form-control" id="job-type-select" autocomplete="off">
                <option selected value="All">All</option>
                {% for type in site.data.masterjoblist_jobtypes %}
                  <option value="{{ type }}">
                    {{ type }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <!-- TODO add a filter by rotational or technical as radios...
                 but need to update filtering code too -->
          </div>
        </section>

        <!-- Show companies & jobs -->
        {% for company in site.data.masterjoblist_companies %}
          <hr>
          <section id='{{ company | replace: " ", "" }}' class="anchorable company-job-block">
            <h2 class="text-info">{{ company }}</h2>

            <!-- Loop over jobs to find ones for that company -->
            {% for job in site.data.masterjoblist %}
              {% if job.company == company %}
                <!-- Found a job. Precompute its ID for convenience -->
                {%- capture id -%}
                    {{ job.company | replace: " ", ""}}_{{ job.role | replace: " ", ""}}
                {%- endcapture -%}

                <section class="anchorable job-block" id="{{ id }}"
                    data-type="{{ job.type }}"
                    data-technical="{{ job.technical }}"
                    data-rotational="{{ job.rotational }}"
                  >
                  <h3>
                      {{ job.company }} {{ job.role }}
                      &nbsp;
                      <a href="#{{ id }}">
                          <i class="fas fa-link fa-sm"></i>
                      </a>
                  </h3>

                  <p><strong>
                      {%- capture icon -%}
                          {% if job.type == "PM" %} fa-rocket
                          {% elsif job.type == "Marketing" %} fa-bullhorn
                          {% elsif job.type == "Strategy" %} fa-chess-knight
                          {% elsif job.type == "Sales" %} fa-handshake
                          {% elsif job.type == "Finance" %} fa-money-bill-wave
                          {% elsif job.type == "Management" %} fa-users
                          {% elsif job.type == "Mixed" %} fa-blender
                          {% elsif job.type == "Supply Chain" %} fa-shipping-fast
                          {% elsif job.type == "Consulting" %} fa-plane
                          {% else %} fa-suitcase
                          {% endif %}
                      {%- endcapture -%}

                      <i class="fas {{ icon }}"></i> {{ job.type }},&nbsp;


                      {% if job.technical == 1 %}
                          <i class="fas fa-code"></i> Technical
                      {% else %}
                          <span class="fa-stack">
                              <i class="fas fa-code fa-stack-1x"></i>
                              <i class="fas fa-ban fa-stack-2x"></i>
                          </span>
                          Non-technical
                      {% endif %},&nbsp;

                      {% if job.rotational == 1 %}
                          <i class="fas fa-sync-alt"></i> Rotational
                          {% if job.length_months != "" %}
                              ({{ job.length_months }} months)
                          {% endif %}
                      {% else %}
                         <i class="fas fa-angle-double-right"></i>
                          Not rotational
                      {% endif %}
                  </strong></p>


                  <p>
                      {% if job.description != "" %}
                          {{ job.description }}
                      {% endif %}
                  </p>

                  <p>
                    <a href="{{ job.website }}" target="_blank" class="btn btn-primary">
                        Learn more
                    </a>
                    {% if job.comments != "" %}
                        <em>({{ job.comments }})</em>
                    {% endif %}
                  </p>

                  <br>
                </section>
              {% endif %}
            {% endfor %}
          </section>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
