---
layout: default
title: PM and Tech Business Job List
permalink: masterjoblist
---

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h1 class="h1">Best Business-Side Jobs at Tech Companies</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="list-group hidden-xs hidden-sm visible-md visible-lg">
          {% for company in site.data.masterjoblist %}
          <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company.slug }}">
                {{ company.company }}
              </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8">

        <div class="lead">
          <p> Here's our list the best non-technical roles available at tech companies.</p>

          <p><em>Note: the application for some of these jobs is only open during certain times of the year. If a job is closed, we've tried to include a link to the best place to find the job once it opens.</em></p>

          <p>We did our best to make this list as comprehensive as possible, but there are always more jobs that we couldn't fit here. If there is a tech company you are interested in that’s not on this list, it doesn’t mean they aren’t hiring. Go
            to their career page and explore!</p>

          </p>
          <p>
            — Neel, Parth, and Adi
          </p>

          <p>
            <em>
              P.S. Want tips on how to get the job? <a href="#tips">Read below!</a>
            </em>
          </p>
        </div>

        <hr />

        <div class="list-group visible-xs visible-sm hidden-md hidden-lg">
          {% for job in site.data.masterjoblist %}
          <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company.slug }}">
                {{ job.company }}
              </a>
          {% endfor %}
        </div>


        {% for company in site.data.jobs %}
        <div id="{{ company.slug }}" class="company-block">
          <h2 class="text-info">{{ company.company }}</h2>

          {% for job in company.jobs %}
          <h3>{{ job.role }}</h3>

          <p>
            {{ job.description }}
          </p>


          <a href="{{ job.url }}" target="_blank" class="btn btn-default">
                            Learn more
                        </a>
          <!-- <a href="https://www.amazon.com/dp/B0756MTX6K/" class="btn btn-default">
                            Buy <em>Swipe to Unlock</em> to prepare
                        </a> -->
          {% endfor %}
        </div>

        <hr />
        {% endfor %}

        <section id="tips">
          <h2 class="h1 text-primary">How to get the job</h2>
          <p class="lead">
            Okay, so now you know where to apply. Now, how do you ace your interview and get an offer? The dirty little secret is that <em>you don’t need a technical background or even need to have ever taken a CS class</em>. But it definitely helps
            if you understand how technology works at a high level and the business strategy behind it.
          </p>

          <p class="lead">
            Check out our new book, <a href="http://swipetounlock.com/amazon"><em>Swipe to Unlock</em></a>. It contains the key general tech and business concepts that we think everyone should know to get a non-technical job in the tech industry.
          </p>
        </section>

        <!-- <div class="text-center">
          <a href="https://www.amazon.com/gp/product/B0756MTX6K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0756MTX6K&linkCode=as2&tag=swipetounlock-20&linkId=0788862628123a7609141c7b2c4ae733/" target="_blank" class="btn btn-primary btn-lg">Learn about <em>Swipe to Unlock</em></a>
        </div> -->


        <section class="text-center">
          <div class="row">
            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-3">
              <a href="{{ site.baseurl }}/amazon" target="_blank">
                <img src="{{ site.baseurl }}/assets/img/cover/cover-2e.png" class="img-responsive" alt="Swipe to Unlock">
              </a>
            </div>
          </div>
          {% include amazon_button.html %}
        </section>
        <br/>

      </div>
    </div>
  </div>
</section>
