

    <!-- Footer
      TODO: fix links-->
    <footer id="footer" class="section section-primary">
      <div class="container centered">

        <p>
          Swipe to Unlock copyright &copy; Paravane Ventures 2017-2019.
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]
      <script src="assets/js/main.js"></script> -->
    <script src="/assets/js/main.js"></script>

    <!-- lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- custom scripts -->
    {% for script in page.scripts %}
      <script src="{{script}}"></script>
    {% endfor %}

  </body>

  </html>
