

    <!-- Footer
      TODO: fix links-->
    <footer id="footer" class="section section-primary">
      <div class="container centered">

        <p>
          Swipe to Unlock copyright &copy; Belle Applications, Inc. 2017-2018.
        </p>

        <a href="https://facebook.com">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-white"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
              </span>
        </a>
        <a href="mailto:swipetounlockbook@gmail.com">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-white"></i>
                <i class="fa fa-envelope fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://github.com/swipetounlockbook">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-white"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
      </div>
    </footer>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]
      <script src="assets/js/main.js"></script> -->
    <script src="/assets/js/main.js"></script>

  </body>

  </html>
