<!-- Passing parameters to the header/footer -->
{% capture manual_title %}
  {{ page.person_name }}'s Author Bio
{% endcapture %}
<!-- end -->


{% include header.html %}

<div class="container">
  <div class="row">
  <section class="article" class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
    <h1>{{page.person_name}}'s Bio</h1>

    {% for author in site.data.bios.authors %}
      {% if author.slug == page.slug %}

        <p>
          Hi, thanks for visiting this site! Below I have documented the press that I have gotten over the years for our work. If you have any questions, please don’t hesitate to reach out! - {{ author.first_name }} ({{ author.email }})
        </p>

        <p class="lead">
          {{ author.bio }}
        </p>

        <h2>Press</h2>
        <ul>
          {% for article in author.links.press %}
            <li>
              <a href="{{ article.url }}">
                {{ article.source }} &middot; {{ article.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <h2>Work</h2>
        <ul>
          {% for article in author.links.work %}
            <li>
              <a href="{{ article.url }}">
                {{ article.source }} &middot; {{ article.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <h2>Books</h2>

        <p>
          {{ author.first_name }} is the bestselling author of
          <a href="{{ site.data.bios.books[0].amazon }}" target="_blank">
            <em>{{ site.data.bios.books[0].name }}</em> ({{ site.data.bios.books[0].year }})
          </a>
          and
          <a href="{{ site.data.bios.books[1].amazon }}" target="_blank">
            <em>{{ site.data.bios.books[1].name }}</em> ({{ site.data.bios.books[1].year }})
          </a>.
        </p>

        {% for book in site.data.bios.books %}
          <h3>{{ book.name }}</h3>
          <p>Press:</p>
          <ul>
            {% for article in book.press %}
              <li>
                <a href="{{ article.url }}">
                  {{ article.source }} &middot; {{ article.title }}
                </a>
              </li>
            {% endfor %}
          </ul>

          <p>Awards:</p>
          <ul>
            {% for award in book.awards %}
              <li>
                {{ award.authority }} &middot; {{ award.name }}
              </li>
            {% endfor %}
          </ul>

        {% endfor %}

      {% endif %}
    {% endfor %}
  </section>
  </div>
</div>

<br>

{% include footer.html %}
