<!-- Passing parameters to the header/footer -->
{% capture manual_title %}
  {{ page.person_name }}'s Author Bio
{% endcapture %}
<!-- end -->


{% include header.html %}

<div class="container">
  <div class="row">
  <section class="article" class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2">
    <h1>{{page.person_name}}'s Bio</h1>

    {% for author in site.data.bios %}
      {% if author.slug == page.slug %}

        <p>
          Hi, thanks for visiting this site! Below we have documented the press that I have gotten over the years for our work. If you have any questions, please don’t hesitate to reach out! - {{ author.first_name }} ({{ author.email }})
        </p>

        <p class="lead">
          {{ author.bio }}
        </p>

        <ul>
          {% for article in author.links.press %}
            <li>
              <a href="{{ article.url }}">
                {{ article.source }} &middot; {{ article.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </section>
  </div>
</div>

<br>

{% include footer.html %}
